.row
  %aside.col-md-4
    %section.user-info
      %h1
        = gravatar_for @user
        = @user.name
        %br/
        %br/
        %br/
        %br/
        = link_to "Go to Home page", root_path
