.order-status-received {
  background-color: rgb(211, 255, 211);
}

.order-status-preparing {
  background-color: rgb(132, 230, 132);
}

.order-status-on_way {
  background-color: rgb(66, 206, 66);
}

.order-status-delivered {
  background-color: rgb(16, 172, 16);
}
