@import 'variables';

.dashboard-title {
  text-align: left;
}

.cart-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 100px;
}

.cart-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  margin-right: 10px;
  border: 2px solid $site-color;
  border-radius: 20%;
}
