.authentication
  %nav.authentication-nav
    %ul.authentication-ul
      - if logged_in?
        = link_to "Log out", logout_path, method: :delete
      - else
        = link_to "Log in", login_path
      = link_to "Sign up", signup_path
      -#   -# %li.dropdown
      -#   -#   %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Account
      -#   -#   %ul.dropdown-menu
      -#   -#     %li= link_to "Profile", current_user 
      -#   -#     %li= link_to "Settings", '#'
      -#   -#     %li.divider
      -#   -#     %li= link_to "Log out", logout_path, method: :delete 
      -# - else
      -#   %li= link_to "Log in", login_path
      